@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  body {
    background: linear-gradient(180deg, #FFF 0%, #E3E3E3 25.59%);
  }

  .benefits-bg-first {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22315%22%20height%3D%2280%22%20viewBox%3D%220%200%20315%2080%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M0%200H291.264L314.785%2040L291.264%2080H0V0Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
    background-size: 100% 100%; /* Set the height to 100% and let the width adjust automatically */
    background-position: center; /* Start from the right side */
  }

  .benefits-bg-middle {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22317%22%20height%3D%2280%22%20viewBox%3D%220%200%20317%2080%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M0.747559%200H292.939L316.535%2040L292.939%2080H0.747559L24.3438%2040L0.747559%200Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
    background-size: 100% 100%; /* Set the height to 100% and let the width adjust automatically */
    background-position: center; /* Start from the right side */
  }

  .benefits-bg-last {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22303%22%20height%3D%2280%22%20viewBox%3D%220%200%20303%2080%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M0.244995%200H303V40V80H0.244995L23.8412%2040L0.244995%200Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
    background-size: 100% 100%; /* Set the height to 100% and let the width adjust automatically */
    background-position: center; /* Start from the right side */
  }
  .benefits-bg-last-gray {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk5IiBoZWlnaHQ9Ijg2IiB2aWV3Qm94PSIwIDAgMjk5IDg2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCAwSDI5OVY0M1Y4NkgwTDI0LjE0NiA0M0wwIDBaIiBmaWxsPSIjRUJFQkVCIi8+Cjwvc3ZnPgo=");
    background-size: 100% 100%; /* Set the height to 100% and let the width adjust automatically */
    background-position: center; /* Start from the right side */
    
  }
  .benefits-bg-first-gray{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIyIiBoZWlnaHQ9Ijg2IiB2aWV3Qm94PSIwIDAgMzIyIDg2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCAwSDI5Ny45NEwzMjIgNDNMMjk3Ljk0IDg2SDBWMFoiIGZpbGw9IiNFQkVCRUIiLz4KPC9zdmc+Cg==");
    background-size: 100% 100%; /* Set the height to 100% and let the width adjust automatically */
    background-position: center; /* Start from the right side */
  }

  .shadowCard{
    box-shadow: 0px 2px 6px 2px#00000026;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .btn-tec {
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 20px;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}
.container-slideri {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_ {
  position: relative;
  width: 200px;
}


.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #1e1e1e;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

.thumb_,
.thumb_::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb_ {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb_::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb_::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}


.sliderSize_ {
  position: relative;
  width: 300px;
}

.thumbSize_ {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 300px;
  outline: none;
}
